
.nav-bar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.company{
    width: 70%;
    font-size: 2rem;
}
.home{
    width:10%;
    height: 2rem;
}
.help{
    width: 10%;
    height: 2rem;
}

